FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=jwt-change-me
DATABASE_URL=postgresql://afyalink_db_ejxf_user:3PeLFB4Eh43zdOEGsvhM9VmEFSaslIVz@dpg-d6a5r9umcj7s7393gbq0-a.oregon-postgres.render.com/afyalink_db_ejxf
ITEMS_PER_PAGE=12
SENDGRID_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
